@charset "utf-8";

/* The below code is for the image slider on the homepage */

body {
    background-color: #FA9220;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: justify;
}

body h1 {
    font-size: 20pt;
    padding-bottom: 20px;
    font-style: normal;
    padding-left: 20px;
    margin: 0px;
    align-content: center;
}

body a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
    text-align: left;
}

h3 {
    font-size: 18pt;
    text-align: left;
}

h4 {
    font-size: 18pt;
    text-align: left;
}

h5 {
    font-size: 18pt;
}

#banner {
    padding-left: 17.5%;
}

/*Beginning of code for image slider*/
.caption {
    height: 200px;
}

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html, body { url("http://codepen.io/images/classy_fabric.png"); }

.slides {
    
    padding: 0;
    margin: 0;
    width: 400px;
    height: 550px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { 
    display: block; 
}

.slide {
    top: 0;
    opacity: 0;
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;

    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 400px;
    height: 400px;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
/*End of the coding for the image slider */

/* css coding for all basic pages */

.current {
    border-bottom: 3px dashed orange;
}

#navigation {
    background-color: #FFF5F5;
    height: 56px;
    width: 100%;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}

#navigation ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#navigation ul a {
	display: block;
    width: 120px;
	color: #333;
	text-decoration: none;
	font-size: 14pt;
	line-height: 32px;
	padding: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	word-spacing: 2px;
    text-align: center;
	
}

#navigation ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}


#navigation ul li:hover {
    color: orange;
}

#navigation ul ul {
    z-index: 999;
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#FFF5F5;
	padding:0;
}

#navigation ul ul li {
	float:none;
}

#navigation ul ul a {
	line-height:120%;
	padding:10px 15px;
}

#navigation ul ul ul {
	top:0;
	left:100%;
}

#navigation ul li:hover > ul {
	display:block
}

#content {
    position: absolute;
    top: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	background-color:#fffff0;
	text-align:center;
    margin-bottom: 10px;
    margin-right: 10px; 
}

#content img {
 padding: 1%;
}

#content a {
    text-decoration: underline;
    color: orange;
}

#information {
    text-align: justify;
    float: left;
    width: 50%;
}

#information img {
    align-content: center;
    padding-left: 27%;
}

#imgs {
    width: 50%;
    float: left;
    padding-top: 250px;
}

#imgs figcaption {
    color: gray;
    padding-bottom: 200px;
}

#column1 {
    text-align: justify;
    padding-right: 2.5%;
    padding-left: 2.5%;
    width: 45%;
    float: left;
}

#column2 {
    text-align: justify;
    width: 45%;
    float: left;
}

#imgcolumn1 {
    width: 48%;
    float: left;
    padding-right: 2%;
}

#imgcolumn1 figcaption {
    width: 400px;
    text-align: justify;
    padding-left: 20%;
    padding-bottom: 40px;    
}

#imgcolumn1 figcaption strong {
   font-size: 20pt;
}

#imgcolumn2 {
    width: 48%;
    float: left;
}

#imgcolumn2 figcaption {
    width: 400px;
    text-align: justify;
    padding-left: 20%;
    padding-bottom: 40px;    
}

#imgcolumn2 figcaption strong {
   font-size: 20pt;
}

#info {
    width: 70%;
    padding-left: 15%;
}

#info h4{
    text-align: center;
}

#info h5{
    text-align: center;
}

#timeline {
    padding-top: 30%;
    width: 100%;   
}

#timeline table {
    border: solid;
    padding: 10px;
    text-align: left    
}

#timeline table td {
    padding: 10px;
    text-align: justify;
}

form {
    text-align: left;
    line-height: 2.5em;
}

fieldset {
/*	margin-left: auto;*/
	margin-right: 20px;
}

fieldset legend {
    font-size: 20pt;
    font-style: normal;
/*    width: 30em;*/
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
/*    margin: 0px;*/
    align-content: center;
}

#column1 td {
    text-align: left;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #808080;
    width: 100%;
}

#footer li {
    display: inline-block;
}
	
#footer ul {
	margin: 2px;
	align-content:center;
	text-align:center;	
}

#footer ul li a {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

#footer ul li a:hover {
	background-color: #555555;
}
