@charset "utf-8";

/* The below code is for the image slider on the homepage */

body {
    background-color: #FA9220;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: justify;
}

body h1{
    font-size: 17pt;
    font-style: normal;
    padding-left: 20px;
    margin: 0px;
    align-content: center;
}

body a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

h2 {
    font-size: 18pt;
    text-align: left;
}

h3 {
    font-size: 18pt;
    text-align: left;
}

h4 {
    font-size: 18pt;
    text-align: left;
}

h1{
    font-size: 20pt;
}

#mainHeader {
    position: relative;
    margin-left: 4%;
}

#mainHeader img {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    
}

#links {
    align-content: center;
    float: left;
    position: absolute;
    top: 10%;
    width: 40%;
    padding-left: 3%;    
}

#links img {
    width: 110px;   
}

#banner {
    padding-left: 17.5%;
}

#information {
    padding-right: 20px;  
    padding-left: 20px;
}

/*Beginning of code for image slider*/

.container{
	width:890px;
	height: 350px;
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 280px;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}

/*End of the coding for the image slider */


/* css coding for all basic pages */

#wrapper {
	
}

#navleft {
    position: relative;
    top: -155px;
    left: 75px;
}

#navleft li {
    display: inline-block;
    padding: 25px;
}

#navleft li a {
    font-family: "Courier New", Courier, monospace;
    font-size: 14pt;
    
}

#navright {
    position: relative;
    top: -240px;
    left: 710px;
}

#navright li {
    display: inline-block;
    padding: 25px;

}

#navright li a {
    font-family: "Courier New", Courier, monospace;
    font-size: 14pt;
}

#content {
    position: absolute;
    top: 300px;
    padding: 20px;
    padding-bottom: 50px;
	height: auto;
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	background-color:#fffff0;
	text-align:center;	
    margin-bottom: 10px;
}

#imgcolumn1 {
    width: 100%;
}

#imgcolumn1 img {
    width: 25%;
    padding: 35px;
}

#timeline {
    padding-top: 40%;
    width: 100%;   
}


#timeline table {
    border: solid;
    padding: 10px;
    text-align: left    
}

#timeline table td {
    padding: 10px;
    text-align: justify;
}


#column1 {
    width: 50%;
    float: left;
}

#column1 img {
    align-content: center;
    padding-right: 15%;
    padding-top: 5%
}


#column2 {
    width: 50%;
    float: left;  
}

form {
    text-align: left;
    line-height: 1.5em;
}

#column1 td {
    text-align: left;
}


#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #808080;
    width: 100%;
}

#footer li {
    display: inline-block;
}
	
#footer ul {
	margin: 2px;
	align-content:center;
	text-align:center;	
}

#footer ul li a {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

#footer ul li a:hover {
	background-color: #555555;
}


